{{! Set the main content of the create-post page }}
<form class="create-blogpost-form" action="/api/blogpost" method="POST">

  <label for="create-blogpost-title">Blog Post Title:</label>
  <br />
  <input type="text" class="form-control" id="create-blogpost-title" name="title"  required />
  <br />

  <label for="create-blogpost-content">Blog Post Content:</label>
  <br />
  <input class="form-control" id="create-blogpost-content" name="content" required />
  <br />
  <button id="submit-create-blogpost-btn" type="submit">Create Post</button>

</form>